//Mixins

@mixin clean_list{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
@mixin cta_button{
  text-decoration: none;
  padding: 10px 34px;
  margin: 0px;
  border: 1px solid #403181;
  background-color: #403181;
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  &:hover{
    background-color: #5541AB;
    border: 1px solid #5541AB;
  }
}

// Colors variables
$white: #ffffff;
@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/WEB/CerebriSans-Light.eot);
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/TTF/CerebriSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/WEB/CerebriSans-Regular.eot);
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/TTF/CerebriSans-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/WEB/CerebriSans-Bold.eot);
  src: url(../fonts/Cerebri-Sans/Cerebri-Sans/TTF/CerebriSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

.container{
  @media (min-width: 1200px){
    width: 1200px;
  }
}
body *{
  font-family: "Cerebri Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 300;
}

header{
  background-size: cover;
  background-position: center;
  nav{
    &.fixed_scroll_menu{
      position: fixed;
      width: 100%;
      background-color: $white;
      box-shadow: 0 1px 2px 0 #BDBDBD;
      z-index: 100;
      top: -80px;
      transition-property: top;
      transition-duration: 1.5s;
      &.fixed_header{
        top:0;
      }
      .container{
        .row{
          padding-top: 15px;
          padding-bottom: 15px;
          .logo_menu{
            ul.header-navigation{
              li{
                a{
                  color: #040948;
                }
              }
            }
          }
        }
      }
    }
    .row{
      padding-top: 30px;
      display: flex;
      align-items: center;
      .logo_menu{
        display: flex;
        flex: 1;
        .logo{
          margin-right: 36px;
        }
        ul.header-navigation{
          @include clean_list;
          display: flex;
          li{
            margin: 0px 32px 0px 0px;
            a{
              text-decoration: none;
              color: $white;
              font-size: 18px;
              line-height: 35px;
            }
          }
        }
      }

      .cta_button{
        a{
          @include cta_button;
        }
      }
    }
  }
  .blog_description{
    .row{
      margin-top: 92px;
      margin-bottom: 114px;
      h1{
        color: $white;
        margin-top: 0px;
        margin-bottom: 20px;
        line-height: 61px;
        max-width: 663px;
        font-size: 48px;
        font-weight: 500;
        &.single_post{
          margin-bottom: 88px;
          max-width: 100%;
          text-align: center;
        }
      }
      .short_description{
        color: $white;
        margin-bottom: 0px;
        font-size: 20px;
      }
    }
  }
}
//Start main content
.container-fluid{
  .row.main_content{
    margin: 0 1%;
    padding-top: 72px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .left_invisible_sidebar{}
    .articles_list{
      display: flex;
      flex-wrap: wrap;

      // If it's Main page
      .article_item{
        width: 50%;
        padding: 0px 25px;
        margin-bottom: 50px;
        .article_thumbnail{
          img{
            width: 100%;
            height: auto;
          }
        }
        .article_params{
          margin-top: 16px;
          display: flex;
          justify-content: flex-start;
          span{
            line-height: 18px;
            color: #A0A2B4;
          }
          .article_author{
            flex: 1;
          }
        }
        .article_title{
          h2{
            font-weight: 700;
            color: #040948;
            font-size: 20px;
            line-height: 28px;
            margin-top: 6px;
          }
          .article_description{
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }

    /*
    *  If it's Single POST
    */
    .post_description{
      .post_text{
        h2{
          color: #040948;
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
          margin-top: 42px;
        }
        h3{
          color: #040948;
          font-size: 16px;
          font-weight: 700;
          line-height: 28px;
        }
        p{
          color: #040948;
          font-size: 16px;
          line-height: 22px;
        }
        img{
          width: 100%;
          height: auto;
          margin-bottom: 16px;
        }
        ol{
          padding-left: 30px;
          margin-bottom: 22px;
          li{
            color: #040948;
            font-size: 16px;
            line-height: 22px;
            padding-left: 10px;
          }
        }
      }
      .divider{
        border: 1px solid #040948;
        opacity: 0.2;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .post_author{
        display: flex;
        .post_author_avatar{
          margin-right: 16px;
          img{}
        }
        .author_meta_data{
          display: flex;
          flex: 1;
          flex-direction: column;
          p{
            margin: 0;
            color: #040948;
          }
          .author_name{

            font-size: 20px;
            font-weight: 700;
            line-height: 25px;
          }
          .author_status{
            flex: 1;
            font-size: 16px;
            line-height: 21px;
          }
          .post_date{
            color: #A0A2B4;
            font-size: 16px;
            line-height: 21px;
          }
        }
        .author_social_link{
          display: flex;
          align-items: flex-end;
          a{
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            img{

            }
          }
        }
      }
    }

    .right_sidebar{
      .move_part{
        position: relative;
        transition-property: top;
        transition-duration: 1.5s;
        top: 0;
        &.fixed_bar{
          position:sticky;
          top: 147px;
        }
        background-color: #FAFAFB;
        padding: 25px;
        .sidebar_header{
          display: flex;
          align-items: center;
          margin-bottom: 27px;
          .category_title{
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            opacity: 0.8;
            color: #040948;
            flex: 1;
          }
        }
        ul.category_items_list{
          @include clean_list;
          li.category_item{
            a{
              font-size: 16px;
              font-weight: 700;
              line-height: 21px;
              opacity: 0.8;
              color: #040948;
              text-decoration: none;
              display: block;
              padding-left: 12px;
              margin-bottom: 4px;
              margin-top: 21px;
              border-bottom: 1px solid rgba(160, 162, 180, 0.2);
              transition-property: font-size, line-height, color, margin-bottom, margin-top,border-bottom;
              transition-duration: 0.2s;
            }
            &.active a, &:hover a{
              font-size: 30px;
              line-height: 38px;
              color: #40C4FF;
              margin-bottom: 2px;
              margin-top: 21px;
              border-bottom: 3px solid #40C4FF;
            }
          }
        }
      }
    }
    .pagination_links{
      ul{
        @include clean_list;
        display: flex;
        justify-content: center;
        li{
          a{
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            line-height: 22px;
            color: #A0A2B4;
            text-decoration: none;
            &.active_link, &:hover{
              border-radius: 2px;
              background-color: #40C4FF;
              color: $white;
            }
          }
        }
      }
    }
  }
}
//Start Footer section
footer{
  background-color: #F5F5F7;
  margin-top: 68px;
  padding-top: 78px;
  padding-bottom: 56px;
  .footer_description{
    display: flex;
    .about_us{
      flex: 1;
      .footer_logo{}
      .spro_description{
        p{
          color: #040948;
          font-size: 20px;
          line-height: 25px;
          max-width: 300px;
          margin-top: 25px;
        }
      }
    }
    .contact_us{
      p{
        color: #040948;
        font-size: 24px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 23px;
      }
      .cta_button{
        text-align: right;
        a{
          @include cta_button;
        }
      }
    }
  }
  .social_contacts{
    .social_title{
      color: #040948;
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
    }
    ul{
      @include clean_list;
      display: flex;
      justify-content: center;
      li{
        &:last-child a{
          margin-right: 0;
        }
        a{
          display: block;
          width: 50px;
          height: 50px;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 4px;
          background-color: #FFFFFF;
          margin-right: 32px;

          &.fb_link{
            background-image: url("../images/facebook-logo.png");
            &:hover{
              background-image: url("../images/facebook-logo_wh.png");
              background-color: #40c4ff;
            }
          }
          &.be_link{
            background-image: url("../images/behance-logo.png");
            &:hover{
              background-image: url("../images/behance-logo_wh.png");
              background-color: #3f307f;
            }
          }
          &.ista_link{
            background-image: url("../images/instagram-logo.png");
            &:hover{
              background-image: url("/images/instagram-logo_wh.png");
              background-color: #fc3f7f;
            }
          }
          &.in_link{
            background-image: url("../images/linkedin-logo.png");
            &:hover{
              background-image: url("../images/linkedin-logo_wh.png");
              background-color: #fcd43f;
            }
          }
          &.me_link{
            background-image: url("../images/medium-logo.png");
            &:hover{
              background-image: url("../images/medium-logo_wh.png");
              background-color: #29B40D;
            }
          }
        }
      }
    }
  }
}